USE [abraham]
GO
ALTER TABLE [FOO].[TimeBalanceSession] DROP CONSTRAINT [FK_TBS_TMB_Id]
GO
ALTER TABLE [FOO].[TimeBalanceSession] DROP CONSTRAINT [FK_TBS_SSS_Id]
GO
/****** Object:  Table [FOO].[TimeBalanceSession]    Script Date: 10/08/2017 15:07:39 ******/
DROP TABLE [FOO].[TimeBalanceSession]
GO
/****** Object:  Table [FOO].[TimeBalanceSession]    Script Date: 10/08/2017 15:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FOO].[TimeBalanceSession](
	[TBS_SSS_Id] [int] NOT NULL,
	[TBS_TMB_Id] [int] NOT NULL,
 CONSTRAINT [PK_TBS] PRIMARY KEY CLUSTERED 
(
	[TBS_SSS_Id] ASC,
	[TBS_TMB_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FOO].[TimeBalanceSession]  WITH CHECK ADD  CONSTRAINT [FK_TBS_SSS_Id] FOREIGN KEY([TBS_SSS_Id])
REFERENCES [FOO].[Session] ([SSS_Id])
GO
ALTER TABLE [FOO].[TimeBalanceSession] CHECK CONSTRAINT [FK_TBS_SSS_Id]
GO
ALTER TABLE [FOO].[TimeBalanceSession]  WITH CHECK ADD  CONSTRAINT [FK_TBS_TMB_Id] FOREIGN KEY([TBS_TMB_Id])
REFERENCES [FOO].[TimeBalance] ([TMB_Id])
GO
ALTER TABLE [FOO].[TimeBalanceSession] CHECK CONSTRAINT [FK_TBS_TMB_Id]
GO
