USE [abraham]
GO
ALTER TABLE [FOO].[InvoiceDetail] DROP CONSTRAINT [FK_IVD_SSS_Id]
GO
ALTER TABLE [FOO].[InvoiceDetail] DROP CONSTRAINT [FK_IVD_IVC_ID]
GO
/****** Object:  Table [FOO].[InvoiceDetail]    Script Date: 10/08/2017 15:07:39 ******/
DROP TABLE [FOO].[InvoiceDetail]
GO
/****** Object:  Table [FOO].[InvoiceDetail]    Script Date: 10/08/2017 15:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FOO].[InvoiceDetail](
	[IVD_Id] [int] IDENTITY(1,1) NOT NULL,
	[IVD_SSS_Id] [int] NOT NULL,
	[IVD_IVC_ID] [int] NOT NULL,
 CONSTRAINT [PK_IVD_Id] PRIMARY KEY CLUSTERED 
(
	[IVD_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FOO].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_IVD_IVC_ID] FOREIGN KEY([IVD_IVC_ID])
REFERENCES [FOO].[Invoice] ([IVC_Id])
GO
ALTER TABLE [FOO].[InvoiceDetail] CHECK CONSTRAINT [FK_IVD_IVC_ID]
GO
ALTER TABLE [FOO].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_IVD_SSS_Id] FOREIGN KEY([IVD_SSS_Id])
REFERENCES [FOO].[Session] ([SSS_Id])
GO
ALTER TABLE [FOO].[InvoiceDetail] CHECK CONSTRAINT [FK_IVD_SSS_Id]
GO
