USE [abraham]
GO
ALTER TABLE [FOO].[Session] DROP CONSTRAINT [FK_SSS_USR_Id]
GO
ALTER TABLE [FOO].[Session] DROP CONSTRAINT [FK_SSS_CMP_Id]
GO
/****** Object:  Table [FOO].[Session]    Script Date: 10/08/2017 15:07:39 ******/
DROP TABLE [FOO].[Session]
GO
/****** Object:  Table [FOO].[Session]    Script Date: 10/08/2017 15:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FOO].[Session](
	[SSS_Id] [int] IDENTITY(1,1) NOT NULL,
	[SSS_BeginDate] [datetime] NOT NULL,
	[SSS_EndDate] [datetime] NULL,
	[SSS_USR_Id] [int] NOT NULL,
	[SSS_CMP_Id] [int] NOT NULL,
 CONSTRAINT [PK_SSS_Id] PRIMARY KEY CLUSTERED 
(
	[SSS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FOO].[Session]  WITH CHECK ADD  CONSTRAINT [FK_SSS_CMP_Id] FOREIGN KEY([SSS_CMP_Id])
REFERENCES [FOO].[Computer] ([CMP_Id])
GO
ALTER TABLE [FOO].[Session] CHECK CONSTRAINT [FK_SSS_CMP_Id]
GO
ALTER TABLE [FOO].[Session]  WITH CHECK ADD  CONSTRAINT [FK_SSS_USR_Id] FOREIGN KEY([SSS_USR_Id])
REFERENCES [FOO].[User] ([USR_Id])
GO
ALTER TABLE [FOO].[Session] CHECK CONSTRAINT [FK_SSS_USR_Id]
GO
