USE [abraham]
GO
ALTER TABLE [FOO].[TimeBalance] DROP CONSTRAINT [FK_TMB_USR_Id]
GO
/****** Object:  Table [FOO].[TimeBalance]    Script Date: 10/08/2017 15:07:39 ******/
DROP TABLE [FOO].[TimeBalance]
GO
/****** Object:  Table [FOO].[TimeBalance]    Script Date: 10/08/2017 15:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FOO].[TimeBalance](
	[TMB_Id] [int] IDENTITY(1,1) NOT NULL,
	[TMB_Value] [int] NOT NULL,
	[TMB_Date] [datetime] NOT NULL,
	[TMB_USR_Id] [int] NOT NULL,
 CONSTRAINT [PK_TMB_Id] PRIMARY KEY CLUSTERED 
(
	[TMB_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FOO].[TimeBalance]  WITH CHECK ADD  CONSTRAINT [FK_TMB_USR_Id] FOREIGN KEY([TMB_USR_Id])
REFERENCES [FOO].[User] ([USR_Id])
GO
ALTER TABLE [FOO].[TimeBalance] CHECK CONSTRAINT [FK_TMB_USR_Id]
GO
